@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MVC and AJAX</title>
    <script src="~/Scripts/json2.js"></script>
    <script src="~/Scripts/jquery-2.0.3.js"></script>
</head>
<body>
    <div>
        <button id="sendEmployee">Send Employee</button>
        <button id="sendArrayButton">Send Array</button>
        <button id="sendCommandButton">Send Command</button>
    </div>

    <script src="~/Scripts/AjaxOperations.js"></script>
    <script src="~/Scripts/wireup.js"></script>
</body>
</html>
